#loginContainer {
  width: 100%;
  height: 100%;
  background-image: url(../../public/img/bgimg.webp);
  background-size: 100% 100%;
}

#loginContainer #loginContainerCard {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;
}
